body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: rgb(241,239,135);
background: linear-gradient(0deg, rgba(241,239,135,0.9094012605042017) 32%, rgba(20,222,160,1) 79%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.stats-container {
  margin: 20px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, green, gold) 1;
  min-width: 200px;
  height: 100px;
  position: relative;
  padding: 20px;
}

.stats-container h4{
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    white-space: nowrap;
}

.icon {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.counter {
  font-size: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media (max-width: 500px) {
  body {
    flex-direction: column;
  }
}
