body{
margin: 0;
font-family: 'Courier New', Courier, monospace;
background: linear-gradient(to bottom, lightgreen, lightblue);
display: flex;
justify-content: center;
min-height: 100vh;
align-items: center;
text-align: center;
}

.container{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

h2{
    font-weight: 400;
}

.input{
    padding: 20px 10px;
    font-size: 18px;
    background-color: antiquewhite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    width: 100px;
}

.errorMessage{
    color: red;
    font-weight: 600;
    margin: 10px;
    display: none;
}

.btn{
    text-transform: uppercase;
    width: 250px;
    height: 45px;
    margin: 20px 0;
    font-size: 18px;
    background:black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: aliceblue;
}

.btn:hover{
    background-color: green;
    color: aliceblue;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}

.gallery img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 5px;
}

.gallery{
    display: none;
}
